@inject HttpClient Http

<button @onclick="DeleteTodo" class="btn btn-danger btn-sm float-right">
    <span class="oi oi-trash" aria-hidden="true"></span>
</button>

@code {
    [Parameter]
    public long todoId { get; set; }

    [Parameter]
    public string code { get; set; }

    protected async void DeleteTodo()
    {
        await Http.DeleteAsync($"Todo/delete/{code}/{todoId}");
    }
}
