@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="">
                <h3>Todo</h3>
            </a>
            <a href="https://github.com/MatthewHinds" target="_blank" class="ml-md-auto">Matthew Hinds - Github</a>
        </div>

        <div class="content px-4 mx-auto" style="width: 600px;">
            @Body
        </div>
    </div>
</div>
