@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="">
                <h3>Todo</h3>
            </a>
            <a href="https://github.com/MatthewHinds" target="_blank" class="ml-md-auto">Matthew Hinds - Github</a>
        </div>

        <div class="content">
            <div class="row">
                <div class="col">
                    @Body
                </div>

                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">Things I'd like to improve</div>
                        <div class="card-body text-secondary">
                            <ul>
                                <li>Better UI all around. I'm no UI designer but I'd like to polish it more.</li>
                                <li>Events for when todos are created, deleted and updated.</li>
                                <li>Collision checking if the sharing code exists when creating a new todo list.</li>
                                <li>Resource files for all of the text</li>
                            </ul>
                            <b>Note: There is no auto refresh or alerts when CRUD operations are performed. Just refresh the page.</b>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
